<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

  <% @books.each do |book| %>
  <table class="tabulka">
    <tr bgcolor="#6495ED">
      <td></td>
    </tr>
    <tr class="nazov">
          <td><h3><%= link_to book.name, book, class: "texticek" %></h3></td>
        </tr>
        <tr>
          <td class="popis"><%= book.short_description %><BR><%= %> <%= link_to 'Uprav', edit_book_path(book) %> <%= link_to 'Zobraz komentare', book_comments_path(book) %> <%= link_to 'Novy komentar', new_book_comment_path(book) %></td>
        </tr>
  </table>
    <br>
  <% end %>

<br>

<%= link_to 'New Book', new_book_path %>
