<p id="notice"><%= notice %></p>

<h2><%= @book.name %></h2>



<h4><%= @book.description %></h4>

<%= link_to 'New Comment', new_book_comment_path(@book) %>

<% @book.comments.each do |comment| %>

        <h5><%= comment.reader_name %></h5><h6><%= comment.comment_text %></h6>
<% end %>

<br>
<br>
<br>
<br>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
