<!DOCTYPE html>
<html>
<head>
  <title>Citatel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="stranka">

  <div id="hore">

    <h1><%= link_to 'CITATEL', root_path %></CITATEL></h1>
    <h3>Vasa oblubena knizna stranka</h3>

    <%= form_tag("/books", method: "get") do %>
        <%= label_tag(:q, "Vyhladaj knihu:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Hladaj") %>
    <% end %>
  </div>

  <div id="stred">
    <div id="vlavo">
    </div>
    <div id="jadro">
      <%= yield %>
    </div>
    <div id="vpravo">
    </div>
  </div>



</div>






</body>
</html>
